<!-- LISTA DE TWEETS -->

<div class="ui items">

	<div class="item" >
		<a class="ui tiny image">
			<img src="{{tweet.avatar}}">
		</a>
		<div class="content">
			<a class="header">{{tweet.name}}</a>
			<div class="description">
				<p>@{{tweet.user}} {{tweet.body}}</p>

				<div class="ui labeled button" tabindex="0">
				  <div class="ui button">
				    <i class="heart icon"></i> Like
				  </div>
				  <a class="ui basic label" (click)='likeTweet(tweet)'>
				    <!-- {{}} -->
				  </a>
				</div>
			</div>
		</div>
	</div>

</div>